.container {
	width: 100vw;
	height: 100vh;
	background: #227eff;
	text-align: center;
	justify-content: center;
	position: relative;

	.image {
		margin-top: 30%;
	}

	.big__text {
		color: white;
		font-style: normal;
		font-weight: bold;
		font-size: 24px;
		margin-top: 20px;
		margin-bottom: 5px;
	}

	.small__text {
		color: white;
		font-size: 14px;
		line-height: 21px;
	}

	.button {
		cursor: pointer;
		display: flex;
		justify-content: center;
		text-align: center;
		align-items: center;
		height: 56px;
		width: 90%;
		position: absolute;
		bottom: 20px;
		left: 5%;
		background: white;
		border-radius: 6px;
		color: #227eff;
		font-size: 16px;
		line-height: 24px;
	}
}
